.card-section {
    padding-inline: var(--section_padding);
    margin-bottom: 2rem;
}

.navigation-grid-title {
    text-transform: uppercase;
    margin-bottom: .5em;
    
}

.navigation-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    gap: .5rem;
}

.navigation-btn-group {
    margin-bottom: 1rem;
    display: flex;
    gap: .7rem;
}
