.section_wrapper {
    padding-inline: var(--page_section_padding);
    margin-bottom: 2rem;
}

.section_title {
    text-transform: uppercase;
    margin-bottom: .5em;
    
}

.section_btn_group {
    margin-bottom: 1rem;
    display: flex;
    gap: .7rem;
}

.carousel_wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /* overflow-x: auto; */
    gap: .5rem;
}

@media (max-width: 1020px) {
    /* .carousel_wrapper {
        grid-auto-columns: 50%;
    } */
}

@media (max-width: 760px) {
    /* .carousel_wrapper {
        grid-auto-columns: 100%;
    } */
}