

.section_wrapper {
    /* background-color: #f1f1f1; */
    margin-bottom: 4rem;
}

.section_title_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-inline: var(--section_padding);
}

.section_title_group > a {
    text-decoration: underline;
    font-weight: bold;
}
.section_title {
    text-transform: uppercase;
}
.carousel_wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    gap: .5rem;
    
    padding-inline: var(--section_padding);
    /* background-color: antiquewhite; */
}