.nav-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav-card-img-wrapper {
    overflow: hidden;
    margin-bottom: 1em;
}
.nav-card-img {
    object-fit: cover;
    aspect-ratio: 7/9;
    transition: transform 450ms ease;
}

.nav-card-img:hover {
    transform: scale(1.05);
}

.nav-card-title {
    margin-bottom: 1em;
    text-transform: uppercase;
}
.nav-card-description {
    margin-bottom: .8em;
}
.nav-card-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}