
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

.product-card-img-wrapper {
    position: relative;
}
.product-card-img-wrapper img {
    object-fit: cover;
    aspect-ratio: 7/9;
}
.product-card-img-wrapper svg{
    width: 1.5rem;
}
.product-card-img-wrapper > :not(a) {
    position: absolute;
    margin: .5rem;
    z-index: 1;
}

.btn-icon {
    border-radius: 20rem;
    display: flex;
    width: 2rem;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}

.btn-icon:hover {
    background-color: grey;
}

.product-card-add-to-cart {
    top: 0;
    left: 0;
}

.product-card-add-to-cart::before{
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 2rem;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    z-index: -1;
    animation: pulse 1.5s ease-out infinite;

}
.product-card-wishlist {
    top: 0;
    right: 0;
}
.product-card-tag {
    bottom: 0;
    left: 0;
    font-size: .7rem;
    background-color: white;
    padding: .3em .5em;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
}


.product-details-wrapper {
    font-size: .9rem;
    font-weight: 300;
    text-transform: capitalize;
    padding: .5rem;
}

.product-fit, .product-color {
    color: grey;
}
.product-rating {
    font-size: .8em;
    font-weight: bold;
}
.product-rating svg{
    width: .8rem;
}
.product-price {
    font-weight: bold;    
}

