.content {
  min-height: 100vh;
}

.btt_wrapper {
  display: flex;
  justify-content: center;
}

.back_to_top_btn {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgba(0,0,0,.2);
  padding: .5em .7em;
  border-radius: 2em;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
