.btn {
  padding: .7em 1.7em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.light {
    background-color: #f3f3f3;
    color: black;
}
.light:hover {
  background-color: #dbdbdb;
}
.dark {
    background-color: #1c1c1c;
    color: white;
}

.dark:hover {
  background-color: #4b4b4b;
}
