.btn {
  padding: .7rem 1.7rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}