.btn {
  padding: 0.7em 1.7em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.light {
  background-color: var(--color-grey-50);
  color: var(--color-grey-900);
}
.light:hover,
.light:active,
.light:focus {
  background-color: var(--color-grey-300);
}
.dark {
  background-color: var(--color-grey-900);
  color: var(--color-grey-50);
}

.dark:hover {
  background-color: var(--color-grey-700);
}
